body {
    background-color: goldenrod;
    color: green;
 text-align: center;
 
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: #111;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;

}

    
    li {
        float: left;
        border-right:1px solid #bbb;
    }
    
    li:last-child {
        border-right: none;
    }
    
    
    li a:hover:not(.active) {
        background-color: #111;
    }
    .active {
        background-color: olive;
    }
    div {
        border: 1px solid whitesmoke;
        padding: 10px;
        width: 300px;
        height: 200px;
        text-align: justify;
        background-color: lightgray;
    }
    p.double {
        outline-style: double;
    background-color: lightgray;
    color: black;
    padding: 30px;

    }



